<h2><%= t ".title" %></h2>
<p class="notice"><%= notice %></p>
<table class="table table-striped table-bordered">
  <tr>
    <th><%= t ".image" %></th>
    <th><%= t ".name" %></th>
    <th><%= t "link_preview" %></th>
    <th><%= t ".content" %></th>
    <th><%= t ".price" %></th>
    <th><%= t ".action" %></th>
  </tr>
  <%= render @products %>
</table>
<%= will_paginate @products %>
