<%= form_for product, html: {multipart: true} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="stripe-error alert alert-danger" style="display:none">
    <noscript>
      <%= t "noscript" %>
    </noscript>
  </div>

  <%= f.label :title, t(".title") %>
  <%= f.text_field :title, class: "form-control" %>

  <%= f.label :summary, t(".summary") %>
  <%= f.text_field :summary, class: "form-control" %>

  <%= f.label :content, t(".content") %>
  <%= f.text_field :content, class: "form-control" %>

  <%= f.label :price, t(".price") %>
  <%= f.text_field :price, class: "form-control" %>

  <%= f.label :link_preview, t(".link_preview") %>
  <%= f.text_field :link_preview, class: "form-control" %>

  <%= f.label :image_product  %>
  <%= f.file_field :image_product, class: "form-control" %>

  <%= f.label :item  %>
  <%= f.file_field :item, class: "form-control" %>

  <%= f.label :category_id %>
  <%= f.collection_select(:category_id, categories, :id, :name) %>

  <% if current_user.recipient.blank? %>
    <%= label_tag :country %>
    <%= text_field_tag :country, nil, {name: nil,
      "data-stripe": "country"} %>
    <%= label_tag :routing_number %>
    <%= text_field_tag :routing_number, nil, {name: nil,
      "data-stripe": "routingNumber"} %>
    <%= label_tag :account_number %>
    <%= text_field_tag :account_number, nil, {name: nil,
      "data-stripe": "accountNumber"} %>
  <% end %>

  <div class="actions">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>
