<div class="thumbnail product-container">
  <%= link_to image_tag(product.image_product.url),
    product_path(product), class: "image-product" %>
  <div class="caption">
    <h4 class="center">
      <a href="#"><%= product.title %></a>
    </h4>
    <p class="center"><%= number_to_currency product.price %></p>
    <p class="center"><%= product.category.name %></p>
  </div>
  <div class="ratings readonly-star center">
    <p>
      <%= rating_for product, Settings.rate.quality,
        star: Settings.rate.star_number,
        enable_half: true %>
    </p>
  </div>
  <div class="buy-button center">
    <% if user_signed_in? %>
      <% if user_product product %>
        <button class="btn">
          <%= link_to t("edit"), new_product_order_detail_path(product) %>
        </button>
      <% else %>
        <button class="btn btn-primary">
          <%= link_to t("buy_now"), new_product_order_detail_path(product) %>
        </button>
      <% end %>
    <% end %>
  </div>
</div>
