<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".home"), root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to t(".manage_products"), users_manage_products_path %></li>
          <li><%= link_to t(".wish_list"), users_wish_lists_path %></li>
          <li><%= link_to t(".my_sales"), users_sales_path %></li>
          <li><%= link_to t(".my_purchases"), users_purchases_path %></li>
          <li><%= link_to t(".stats"), users_stats_path %></li>
          <li class="dropdown notification-dropdown">
            <%= render "layouts/notifications" %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t ".account" %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(".settings"), edit_user_registration_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".log_out"), destroy_user_session_path,
                  method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(".signup"), new_user_registration_path %></li>
          <li><%= link_to t(".login"), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
