<!DOCTYPE html>
<html>
  <head>
    <title>HappyDownload</title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/slide" %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
